[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "isodistrreg"]
	path = isodistrreg
	url = https://github.com/alexanderhenzi/isodistrreg
